*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
}

/*запретить нежелательное выделение текста*/
*, body{
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/*разрешить выделение текста input*/
input{
    -moz-user-select: text;
    -o-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

.rulesButton{
	position: absolute;
	bottom: 20px;
	right:20px;
	padding: 10px 20px 10px 20px;
}


/*case 'Main'*/
.main{
	background-image:url(../img/myfon.jpg);
	background-position: center center;
    background-size: cover; 
    display: flex; 
    justify-content: center;	
    width: 100vw;
    height: 100vh;
    margin: auto; 
}

.titleGame{
    width: 51%;
    margin: auto;
}

.titleGame img{
    width: 100%;
}

.menu{	   
    margin: auto;
    transform: translateZ(0);
}
.list{
	display: flex;
	flex-direction:column; 
    flex-flow: row wrap;
    align-content: center;
	width: 20vw;
    margin: auto;
    padding-bottom: 5%; 
    padding-top: 5%;
}

.button {
	margin: 4% auto;
}	

.button img{
	cursor: pointer;
	width: 100%;
}

.noBtn:active,
.yesBtn:active,
.button img:active {
    border-radius: 15%/37% ;
    box-shadow: 0 4px #077d0587;
    transform: translateY(4px);
}


/* case 'Scores'*/
/* and case 'Rules'*/
#rules,
#scores{
    border-radius: 2%;
    background-color: #fef4de;
    padding: 2%;
    border: solid 1px #dbbc1de6;
    position: absolute;
    top:-100vh;
    display: block;
    transform: translateZ(0);
}

#scores,
#rules{
    width: 60%;
    height: 60%;
}


#rulesTable,
#scoresTable{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: #cc8d0e;
    font-size: 3vh;
}

.back{
	width: 7%;
	position: absolute;
	right: 4px;
	top: 4px;	
}


/*for a case 'Game'*/
#gameDiv{
    display: flex;
    align-items:center;
    width: 100vw;
    height: 100vh;
}

#game{
	background-color: #fcf7d9ff;
	background-size: contain;
}

#questionStopFon,
#questionWinFon,
#questionLoseFon{
	position: absolute;
	z-index: 2;
	display: none; 
    justify-content: center;
    align-content: center;	
	background-color:#0a0a0aae;
	width: 100vw;
	height: 100vh;
}

#questionStop,
#questionWin,
#questionLose{   
    border-radius: 2%;
    background-color: #fef4de;
    padding: 2%;
    border: solid 1px #dbbc1de6;
    display: flex;
    align-self:center;
    transform: translateZ(0);
}

#stopText,
#winText,
#loseText,
#saveText{
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    color: #cc8d0e;
    font-size: 5vh;
}

#saveText{
    display: none;
}

#yesAndNoStop,
#yesAndNoWin,
#yesAndNoLose{
	padding-top: 5%;
	margin: 0 auto;
	width: 100%;   
	text-align: center;
	display: flex;
	justify-content:space-around;
}

.noBtn,
.yesBtn{
	width: 30%;
	cursor: pointer;	
}

.noBtn,
.yesBtn{
	width: 30%;
	cursor: pointer;	
}

#rulesTable tr{
	width:100%;
}

h1{
	text-align: center;
	color:#a35f10fe;
	margin: 0px;
}

#rulesTable p{
	text-align: center;
	font-size: 4vh;
	margin: 0px;
}

#rulesTable img{
	width:60px;
	height:60px;
}

#rulesTable table span{
	padding-left: 10px;
}

#rulesTable tbody{
	margin:0 auto;
}

input{
	width: 50%;
	height: 20%;
	font-size: 50%;
}

#save {
    padding-top: 5%;
	margin: 0 auto;
	width: 100%;   
	text-align: center;
}

#scoresTable table{
	padding: 0 2px;
}

#scoresTable tr{
	width:100%;
}

#scoresTable td{
	width:25%;
	text-align: center;
	padding: 0 5px;
}

.up{
    display: none;
    text-align: center;
    color:#a35f10fe;
    position: absolute;
    bottom: 10vh;
    font-size: 6vh; 
}