/* @media(max-width: 1150px){
	.rules{
	    height: 80%;
    }
} */

@media(max-width: 1024px){
	.list{
        width: 30vw;
        padding-bottom: 10%;
        padding-top: 5%; 
    }
}

@media(max-width: 900px){
    #rulesTable,
    #scoresTable{
        font-size: 2vh;   
    }

    #rules h1,
    #scores h1{
        font-size: 5vh;	
	    padding-bottom: 3vh;
        padding-top: 3vh;
    }

    #rulesTable p{	
        font-size: 2.5vh;	
    }

    #rulesTable img{
        width:40px;
        height:40px;
    }
}

@media(max-width: 700px){
	#rules,
    #scores{
        height: 100vh;
        width: 100vw;
    }

    #rulesTable p{	
	    padding:12vh 0;	
    }

    .menu{	    
        justify-content:  center;   
    }

	.list{	
	    width: 50vw;
    }

    .back{
	    display: none;
    }

    .up{
        display: block;
        padding:0vh 45vw;
        font-size: 5vh;
    }
}

@media(max-width: 500px){
    .titleGame{
        width: 70%;
    }

    .list{
	    padding-bottom: 0%; 
    }


    #scoresTable td,
    #rulesTable td{
	    padding-bottom: 10px;
	    padding-top: 10px;
    }

    #questionStop,
    #questionWin,
    #questionLose{      
        background-color: transparent;   
        border: none;
    }

    #stopText,
    #winText,
    #loseText,
    #saveText{    
        color: #f7df07;
        font-size: 5vh;
        padding: 0px;
    }

    #yesAndNoStop,
    #yesAndNoWin,
    #yesAndNoLose{
        width: 50%;   
        display: block;	
    }

    .noBtn,
    .yesBtn{
        width: 100%;
        margin-bottom: 5%;	
    }

    #save {    
        width: 30%;   	
    }
}

